<!-- -*- mode: XML -*- -->
<launch>
  <arg name="manager" default="camera_manager"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <!-- Start Intel D435i -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

  <!-- Start Intel Realsense T265 -->
  <group ns="camera_dog0">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
          <arg name="external_manager" value="true"/>
          <arg name="manager" value="/$(arg manager)"/>
          <arg name="tf_prefix" value="camera_odom"/>
          <arg name="device_type" value="t265"/>
          <arg name="enable_fisheye1" value="true"/>
          <arg name="enable_fisheye2" value="true"/>
          <arg name="publish_odom_tf" value="true"/>
          <arg name="initial_reset" value="true"/>
      </include>
      <rosparam>tracking_module/enable_relocalization: false</rosparam>
      <rosparam>tracking_module/enable_pose_jumping: false</rosparam>
  </group>

  <!-- RVIZ -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find real_localization)/rviz/rviz.rviz" output="screen"/>

  <!-- Run AprilTag detection -->
  <arg name="camera_name" default="/camera/color" />
  <arg name="image_topic" default="image_raw" />
  <arg name="queue_size" default="1" />

  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="continuous_detection_node" clear_params="true" output="screen">
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size)" />

    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>

  <!-- static transform from T265 odometry to center of robot -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="robot_pose_tf"
        args="-0.8 0 0 3.14 0 0 camera_dogp0_link dogp0" />

  <!-- static transform from apriltag to center of box -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="box_pose_tf"
      args="0 0 -0.3 0 0 0 apriltag_box box_p" />

  <!-- static transform from the world frame to the center of the robot(s) -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_frame_tf"
    args="0 -1 0 0 0 0 camera_dog_p0_link world" />

  <!-- Converts the tf frames to messages taken in by mappo -->
  <!-- <node pkg="real_localization" type="tf_to_codogs.py" name="tf_to_codogs_node" output="screen"/> -->
  
</launch>
