<!-- -*- mode: XML -*- -->
<launch>
  <arg name="manager" default="camera_manager"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <!-- Start Intel Realsense T265 -->
  <group ns="camera">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
          <arg name="external_manager" value="true"/>
          <arg name="manager" value="/$(arg manager)"/>
          <arg name="tf_prefix" value="camera"/>
          <arg name="device_type" value="t265"/>
          <arg name="enable_fisheye1" value="true"/>
          <arg name="enable_fisheye2" value="true"/>
          <arg name="publish_odom_tf" value="true"/>
          <arg name="initial_reset" value="true"/>
      </include>
      <rosparam>tracking_module/enable_relocalization: false</rosparam>
      <rosparam>tracking_module/enable_pose_jumping: false</rosparam>
  </group>

  <arg name="input_camera1_name" default="fisheye1" />
  <arg name="input_camera2_name" default="fisheye2" />

  <group ns="image_processing">
      <node pkg="nodelet" type="nodelet" name="ImageUndistortNodelet1" args="load image_undistort/ImageUndistortNodelet /$(arg manager)" output="screen">
          <param name="scale" value="0.5"/>
          <remap from="input/image" to="$(arg input_camera1_name)/image_raw"/>
          <remap from="input/camera_info" to="$(arg input_camera1_name)/camera_info"/>
          <remap from="output/image" to="left/image_rect"/>
          <remap from="output/camera_info" to="left/camera_info"/>
      </node>
  </group>
  
  
</launch>
